@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');
:root{
	--main-green: #B9FF66;
	--main-dark: #191A23;
	--main-grey: #F3F3F3;
	--main-white: #ffffff;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Space Grotesk', sans-serif;
	font-size: 18px;
	font-weight: 400;
}
h2{
	font-size: 40px;
	font-weight: 500;
	border-radius: 7px;
	padding: 0 7px;
}
h3{
	font-size: 30px;
	font-weight: 500;
}
h4{
	font-weight: 500;
	font-size: 20px;
}
@media (max-width: 780px) {
	h2{
		font-size: 36px;
	}
	h3{
		font-size: 26px;
	}
	h4{
		font-size: 18px;
	}
	body{
		font-size: 16px;
	}
}
.wrapper{
	max-width: 1240px;
	margin: 0 auto;
	overflow: hidden;
}
.padding-bottom{
	padding-bottom: 25px;
}
button{
	transition: all 0.1s ease-in-out;
}
.btn-click:active{
	transform: scale(1.05);
}
@media (max-width: 1280px){
	.wrapper{
		padding: 0 10px;
	}
	.padding-bottom{
		padding-bottom: 0;
	}
}
header{
	margin-top: 60px;
}
.nav-container{
	display: flex;
	justify-content: space-between;
	
}

.nav-ul{
	width: 850px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
.nav-ul li{
	transition: all 0.2s ease-out;
}
.nav-ul > li > a{
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
	color: #000000;
}
.nav-ul li:hover{
	transform: scale(1.1);
}
.nav-ul li:last-child:hover{
	transform: scale(1);
}
.nav-btn{
	width: 231px;
	height: 68px;
	background-color: transparent;
	border-radius: 14px;
	font-size: 20px;
}
.nav-btn:hover{
	cursor: pointer;
	background-color: #F3F3F3;
}
.burgerMenuIcon{
	display: none;
}
@media (max-width: 1120px) {
	.nav-ul{
		display: none;
	}
	.burgerMenuIcon{
		display: block;
	}
}
.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 70px 0;
}
.header-title{
	font-size: 60px;
	font-weight: 500;
	max-width: 531px;
}
.header-descripion{
	font-size: 20px;
	max-width: 498px;
	margin: 35px 0;
}
.header-btn{
	margin-left: 10px;
	width: 264px;
	height: 68px;
	border-radius: 14px;
	background-color: var(--main-dark);
	font-size: 20px;
	border: none;
	color: var(--main-white);
}
.header-btn:hover{
	cursor: pointer;
}
.header-illustration{
	max-width: 600px;
}
@media (max-width: 1120px) {
	header{
		margin-top: 30px;
	}
	.header{
		display: flex;
    	flex-direction: column;
    	margin: 34px 0;
    	position: relative;
    	align-items: center;
	}
	.header-textAdnBtn-container{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.header-illustration{
		position: absolute;
		top: 246px;
	}
	.header-descripion{
		margin-top: 515px;
	}
	.header-btn{
		margin-left: 0;
		width: 388px;
	}
}
@media (max-width: 768px){
	.header-btn{
		width: 371px;
	}
}
@media (max-width: 768px) {
	.positivius-logo{
		width: 144px;
		height: 24px;
	}
	.header-title{
		font-size: 43px;
	}
	.header-illustration{
		width: 361px;
		height: 310px;
	}
	.header-illustration{
		top: 120px;
	}
	.header-descripion{
		margin-top: 327px;
	}
}
@media (max-width: 509px){
	.header-illustration{
		top: 179px;
	}
	.header-title{
		max-width: 390px;
	}
}
@media (max-width: 370px){
	.header-title{
		width: 300px;
	}
	.header-illustration{
		width: 300px;
		top: 210px;
	}
	.header-descripion{
		width: 300px;
		margin-top: 288px;
	}
	.header-btn{
		width: 300px;
	}
}
.logotypes{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.logotypes1Section{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.logotypes2Section{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
@media (max-width: 1000px){
	.logotypes{
		flex-direction: row;
		flex-wrap: wrap;
	}
	.logotypes1Section{
		width: 70%;
		margin-left: 30%;
		gap: 20px;
	}
	.logotypes2Section{
		width: 70%;
		gap: 20px;
	}
}
.logo:hover{
	cursor: pointer;
}
.headingAndSubtitles{
	margin-top: 140px;
	display: flex;
}

.headingAndSubtitles p{
	max-width: 580px;
	margin-left: 40px;
}
@media (max-width: 1280px) {
	.headingAndSubtitles{
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.headingAndSubtitles p{
		margin: 0;
		max-width: 319px;
	}
}
@media (max-width: 780px) {
	.headingAndSubtitles{
		margin-top: 40px;
	}
}
.green-background{
	background-color: var(--main-green);
}
.grey-background{
	background-color: var(--main-grey);
}
.dark-background{
	background-color: var(--main-dark);
}
.white-background{
	background-color: var(--main-white);
}

.services-block{
	margin-top: 80px;
	width: 100%;
	height: 1010px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.card{
	width: 600px;
	height: 310px;
	border-radius: 45px;
	border: 1px solid black;
	border-bottom: 6px solid black;
	padding: 50px;
	display: flex;
	justify-content: flex-start;
    align-items: center;
    position: relative;
	transition: all 0.3s ease;
	
}
.card:hover{
	cursor: pointer;
	transform: translateY(-5px);
}
.heading-and-link{
	max-width: 221px;
	height: 220px;
}
.heading-and-link h3{
	padding: 0 7px;
	border-radius: 7px;
	width: 225px;
	max-width: fit-content;
}
.card-link{
	margin-top: 120px;
	display: flex;
	align-items: center;
}
.card-link a{
	text-decoration: none;
	color: #000000;
	font-size: 20px;
	margin-left: 15px;
}
.card1-image{
	width: 210px;
	height: 170px;
    position: absolute;
    right: 35px;
    bottom: 70px;
}
.white a{
	color: var(--main-white);
}
.card2-image{
	width: 210px;
	height: 147px;
	position: absolute;
	right: 35px;
	bottom: 81px;
}
.card3-image{
	width: 208px;
	height: 210px;
	position: absolute;
	right: 35px;
	bottom: 50px;
}
.card4-image{
	width: 210px;
	height: 192px;
	position: absolute;
	right: 35px;
	bottom: 58px;
}
.card5-image{
	width: 210px;
	height: 195px;
	position: absolute;
	right: 35px;
	bottom: 57px;
}
.card6-image{
	width: 210px;
	height: 170px;
	position: absolute;
	right: 35px;
	bottom: 70px;
}
@media (max-width: 780px){
	.card{
		width: 100%;
		max-width: 600px;
		height: 310px;
		border-radius: 45px;
		border: 1px solid black;
		border-bottom: 6px solid black;
		padding: 35px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.card1-image{
		width: 165px;
		height: 129px;
		bottom: 50px;
	}
	.card2-image{
		width: 165px;
		height: 116px;
		bottom: 50px;
	}
	.card3-image{
		width: 127px;
		height: 129px;
		bottom: 50px;
	}
	.card4-image{
		width: 155px;
		height: 142px;
		bottom: 50px;
	}
	.card5-image{
		width: 139px;
		height: 129px;
		bottom: 50px;
	}
	.card6-image{
		width: 158px;
		height: 129px;
		bottom: 50px;
	}
	.card-link a{
		display: none;
	}
}
@media (max-width: 1280px){
	.services-block{
		margin-top: 40px;
		height: 1947px;
		flex-direction: column;
    	align-items: center;
	}
}


.cta-block{
	height: 347px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 60px;
	border-radius: 45px;
	margin-top: 123px;
}
@media (max-width: 1280px){
	.cta-block{
		margin-top: 80px;
	}
}
.cta-textAndBtn-container{
	max-width: 500px;
	height: 227px;
}
.cta-textAndBtn-container p{
	margin-top: 26px;
}
.cta-btn{
	background-color: var(--main-dark);
	font-size: 20px;
	color: var(--main-white);
	width: 288px;
	padding: 0 35px;
	height: 68px;
	border-radius: 14px;
	border: none;
	margin-top: 26px;
}
.cta-btn:hover{
	cursor: pointer;
}
.cta-block img{
	padding-right: 35px;
}
@media (max-width: 1280px){
	.cta-block img{
		display: none;
	}
	.cta-block{
		justify-content: center;
		align-items: center;
	}
	.cta-textAndBtn-container{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
@media (max-width: 780px){
	.cta-block{
		margin-top: 60px;
		padding: 0 20px;
	}
	.cta-textAndBtn-container{
		max-width: 250px;
		height: 279px;
	}
	.cta-btn{
		width: 100%;
	}
}

.case-studies-wrapper{
	overflow-x: scroll;
}
.case-studies-container{
	margin-top: 80px;
	max-width: 1240px;
	background-color: var(--main-dark);
	border-radius: 45px;
	padding: 70px 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.case-study{
	max-width: 286px;
	height: 163px;
}
.case-study-desctiption{
	color: var(--main-white);
}
.case-study a{
	text-decoration: none;
	color: var(--main-green);
	font-size: 20px;
}
.case-study-link{
	margin-top: 20px;
}
@media (max-width: 1280px) {
	.case-studies-container{
		margin-top: 40px;
	}
}
@media (max-width: 850px){
	.case-studies-container{
		padding-top: 20px;
	}
}
@media (max-width: 780px){
	.case-studies-container{
		background: none;
		width: 913px;
		padding: 0;
	}
	.case-study{
		width: 300px;
		height: 240px;
		display: block;
		background: var(--main-dark);
		padding: 35px 42px;
		border-radius: 45px;
	}
	.case-studies-container hr{
		display: none;
	}
}

@media (max-width: 410px){
	.workingTitle{
		width: 236px;
	}
}
.little-subtitles{
	width: 292px;
}
.process-block{
	margin-top: 80px;
}
@media (max-width: 1280px){
	.process-block{
		margin-top: 40px;
	}
}


/* PROCESS CARDS STYLE */

.process-card{
	margin-top: 30px;
	max-width: 1240px;
	height: 159px;
	border-radius: 45px;
	padding: 41px 60px;
	border: 1px solid black;
	border-bottom: 6px solid black;
	transition: all 0.3s ease-in-out;
	user-select: none;
}
.process-card:hover{
	cursor: pointer;
}
.process-card-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about-card{
	display: flex;
	align-items: center;
}
.about-card span{
	font-size: 60px;
	font-weight: 500;
}
.about-card p{
	font-size: 30px;
	font-weight: 500;
	margin-left: 25px;
}
.process-card hr{
	margin: 30px 0;
	border: 1px solid black;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	transform: translateY(-40px);
}
.process-card-description{
	opacity: 0;
	transition: all 0.3s ease-in-out;
	transform: translateY(-70px);
}
.open-card{
	height: 279px;
	background-color: #B9FF66;
}

.open-card hr{
	opacity: 100;
	transform: translateY(0px);
}
.open-card .process-card-description{
	opacity: 100;
	transform: translateY(0px);
}
.process-card-icon{
	user-select: none;
	transition: all 0.3s ease-in-out;
}
@media (max-width: 670px){
	.process-card{
		margin-top: 15px;
		padding: 30px;
		height: 98px;
	}
	.open-card{
		height: 205px;
	}
	.process-card hr{
		margin: 10px 0;
	}
	.about-card span{
		font-size: 30px;
	}
	.about-card p{
		font-size: 18px;
	}
	.process-card-content img{
		width: 30px;
		height: 30px;
	}
}
@media (max-width: 564px){
	.process-card-description{
		font-size: 14px;
		transform: translateY(-50px);
	}
}
@media (max-width: 515px){
	.process-card-content{
		width: 100%;
	}
}
@media (max-width: 400px){
	.about-card span{
		font-size: 27px;
	}
	.about-card p{
		font-size: 15px;
	}
	.open-card{
		height: 245px;
	}
}


.team-subtitles{
	width: 473px;
}
@media (max-width: 360px){
	.team-subtitles{
		width: 295px;
	}
}
.team-cards-container{
	margin-top: 80px;
	display: flex;
	flex-wrap: wrap;
	row-gap: 39px;
	column-gap: 39px;
}
.team-card{
	max-width: 387px;
	height: 331px;
	border-radius: 45px;
	border: 1px solid black;
	border-bottom: 6px solid black;
	padding: 40px 35px;
}
.hidden{
	display: none;
}
@media (max-width: 780px){
	.team-card{
		padding: 27px 19px;
	}
}
.person{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	position: relative;
}
.about-person{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}
.person-linkedin{
	position: absolute;
	top: 0;
	right: 0;
}
.team-card hr{
	border: 1px solid black;
	margin: 28px 0;
}
.team-btn-container{
	margin-right: 10px;
	display: flex;
	justify-content: flex-end;
}
.team-btn{
	margin-top: 40px;
	width: 269px;
	height: 68px;
	border-radius: 14px;
	background-color: var(--main-dark);
	color: var(--main-white);
	border: none;
	margin-right: 0;
	font-size: 20px;
}
.team-btn:hover{
	cursor: pointer;
}
@media (max-width: 1280px){
	.team-cards-container{
		width: 90%;
		margin: auto;
		margin-top: 40px;
		justify-content: space-evenly;
		column-gap: 0;
	}
	.team-btn-container{
		margin: 0;
		justify-content: center;
		width: 100%;
		min-width: 282px;
	}
}
@media (max-width: 1000px){
	.team-cards-container{
		flex-direction: column;
		align-items: center;
	}
}


.testimonials-description{
	max-width: 473px;
}
.testimonials-block{
	width: 100%;
	height: 625px;
	border-radius: 45px;
	margin-top: 80px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	transition: all 0.3s ease;
}
.testimonials-container{
	position: absolute;
	margin-top: 80px;
	height: 335px;
	display: flex;
	flex-direction: row;
	gap: 50px;
	left: calc(50% - 300px);
	transition: all 0.3s ease;
}

@media (max-width: 1280px){
	.testimonials-block{
		margin-top: 40px;
	}
}
.testimonial{
	width: 606px;
	height: 335px;
	color: var(--main-white);
}
.testimonial-card{
	height: 266px;
	padding: 48px 52px;
	background-image: url(../img/Bubble.svg);
}
.testimonial-description{
	margin-top: 20px;
	margin-left: 80px;
}
.testimonials-nav{
	position: absolute;
	width: 564px;
	display: flex;
	justify-content: space-between;
	left: 50%;
	transform: translateX(-50%);
	bottom: 68px;
	align-items: center;
}
.testimonials-nav-star{
	margin-left: 19px;
}
.testimonials-nav-star:first-child{
	margin-left: 0;
}
@media (max-width: 780px){
	.testimonials-block{
		height: 554px;
	}
	.testimonials-container{
		margin-top: 30px;
		width: auto;
		left: calc(50% - 164px);
	}
	.testimonial{
		width: 330px;
	}
	.testimonial-card{
		width: 330px;
		height: 326px;
		padding: 30px;
		background-image: url(../img/Union.svg);
	}
	.testimonial-description{
		margin-left: 60px;
	}
	.testimonials-nav{
		width: 80%;
		bottom: 60px;
	}
}

@media (max-width: 400px){
	.testimonials-block{
		height: 505px;
	}
	.testimonials-container{
		left: calc(50% - 120px);
	}
	.testimonial-card{
		width: 245px;
		height: 330px;
		background: none;
		border: 1px solid var(--main-green);
		border-radius: 45px;
		padding: 20px;
		text-align: center;
	}
	.testimonial{
		width: 245px;
	}
	.testimonial-description{
		margin-left: 0;
		text-align: center;
	}
	.testimonials-nav{
		bottom: 29px;
	}
}

.testimonial-description h4{
	color: var(--main-green);
}

.testimonials-nav img:hover{
	cursor: pointer;
}


.contact-description{
	width: 323px;
}
.contact-block{
	margin-top: 80px;
	height: 773px;
	max-width: 1240px;
	padding: 60px 100px 80px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 45px;
}
.contact-form{
	width: 556px;
	height: 633px;
	display: flex;
	flex-direction: column;
}
#name{
	width: 556px;
	height: 59px;
	border-radius: 14px;
	border: 1px solid black;
	padding: 18px 30px;
	margin-bottom: 25px;
	margin-top: 5px;
}
#email{
	width: 556px;
	height: 59px;
	border-radius: 14px;
	border: 1px solid black;
	padding: 18px 30px;
	margin-bottom: 25px;
	margin-top: 5px;
}
#message{
	width: 556px;
	height: 190px;
	border-radius: 14px;
	border: 1px solid black;
	padding: 18px 30px;
	margin-top: 5px;
	resize: none;
}
.fields{
	margin: 40px 0;
}
.contact-btn{
	width: 556px;
	height: 68px;
	background-color: var(--main-dark);
	color: var(--main-white);
	border: none;
	border-radius: 14px;
	font-size: 20px;
}
.contact-btn:hover{
	cursor: pointer;
}
.formIllustration{
	margin-left: 217px;
}
.radio-buttons{
	width: 276px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.label-radio{
	display: flex;
	align-items: center;
}
.label-radio p{
	margin-left: 14px;
}
#hi,
#quote{
	appearance: none;
	width: 28px;
	height: 28px;
	border: 6px solid white;
	outline: 1px solid black;
	border-radius: 50%;
	background-color: var(--main-white);
	transition: 0.2s all linear;
	padding: 6px;
}
#hi:checked, #quote:checked{
	background: #B9FF66;
}
@media (max-width: 1280px) {
	.formIllustration{
		display: none;
	}
	.contact-block{
		justify-content: center;
		margin-top: 40px;
	}
	.radio-buttons{
		width: 100%;
	}
	.fields{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	#name{
		width: 100%;
	}
	#email{
		width: 100%;
	}
	#message{
		width: 100%;
	}
	.contact-btn{
		width: 100%;
	}
}
@media (max-width: 780px){
	.contact-form{
		width: 100%;
		height: 360px;
		position: relative;
		max-width: 345px;
	}
	.contact-block{
		height: 428px;
		padding: 0 15px 0 15px;
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	#name{
		height: 33px;
	}
	#email{
		height: 33px;
	}
	#message{
		height: 82px;
	}
	.contact-btn{
		height: 55px;
		position: absolute;
		bottom: -110px;
	}
	#contact-wrapper{
		height: 676px;
	}
}
@media (max-width: 400px){
	.radio-buttons{
			justify-content: space-evenly;
	}
}


.footer-wrapper{
	max-width: 1240px;
	margin: 0 auto;
}
@media (max-width: 1280px){
	.footer-wrapper{
		padding: 0 10px;
	}
}
@media (max-width: 685px){
	.footer-wrapper{
		padding: 0;
		margin: 0;
	}
}
footer{
	width: 100%;
	height: 514px;
	border-radius: 45px 45px 0 0;
	margin-top: 140px;
	padding: 0 60px;
	padding-top: 55px;
	color: var(--main-white);
}
.navAndLogos{
	max-width: 1120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-logos{
	width: 130px;
	display: flex;
	justify-content: space-between;
}
@media (max-width: 1280px){
	.navAndLogos{
		flex-direction: column;
		height: 120px;
	}
}
.footer-nav-ul{
	width: 500px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
.footer-nav-ul li{
	transition: all 0.2s ease-in-out;
}
.footer-nav-ul li:hover{
	transform: scale(1.1);
}
.footer-nav-ul > li > a{
	color: var(--main-white);
}
.footer-content{
	max-width: 1120px;
	height: 185px;
	display: flex;
	justify-content: space-between;
	margin-top: 66px;
}
.footer-contact-title{
	background-color: var(--main-green);
	border-radius: 7px;
	color: #000000;
	max-width: 112px;
	text-align: center;
}
.contact-email{
	margin-top: 27px;
}
.contact-email a{
	text-decoration: none;
	color: var(--main-white);
}
.contact-phone{
	margin-top: 20px;
}
.contact-phone a{
	text-decoration: none;
	color: var(--main-white);
}
.contact-adress{
	margin-top: 20px;
	font-style: normal;
	display: flex;
	flex-direction: column;
}
.subscription-form{
	width: 634px;
	height: 184px;
	border-radius: 14px;
	padding: 58px 40px;
	background-color: #292A32;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 1280px) {
	.footer-content{
		flex-direction: column;
		align-items: center;
		text-align: center;
		height: 411px;
	}
	.footer-contact-container{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.subscription-form{
		margin-top: 20px;
	}
	footer{
		height: 800px;
		margin-top: 80px;
	}
}
@media (max-width: 685px){
	.footer-content{
		height: 538px;
	}
	.footer-contact-container{
		height: 462px;
		margin-top: 75px;
	}
	.subscription-form{
		flex-direction: column;
		width: 100%;
		height: 350px;
		padding: 30px;
		
	}
	footer{
		height: 945px;
		padding: 0 20px;
		border-radius: 0;
		padding-top: 35px;
	}
	.footer-nav-ul{
		width: 144px;
		height: 161px;
		display: flex;
		flex-direction: column;
		align-items: center;
		list-style: none;
		justify-content: space-around;
	}
	.subscription-email{
		width: 330px;
	}
	.subscription-btn{
		width: 330px;
	}

}
.subscription-email{
	width: 285px;
	height: 67px;
	padding: 22px 35px;
	background-color: transparent;
	color: var(--main-white);
	border-radius: 14px;
	border: none;
	border: 1px solid var(--main-white);
}
.subscription-email::placeholder{
	color: var(--main-white);
	font-size: 18px;
}
.subscription-btn{
	width: 249px;
	height: 68px;
	border-radius: 14px;
	border: none;
	font-size: 20px;
	color: #000000;
}
.subscription-btn:hover{
	cursor: pointer;
}
.footer-hr{
	border: 1px solid var(--main-white);
	margin-top: 50px;
}
@media (max-width: 400px) {
	.subscription-email{
		width: 100%;
	}
	.subscription-btn{
		width: 100%;
	}
	.rightsAndPolicy{
		text-align: center;
	}
	.rightsAndPolicy a{
		margin-left: 0;
	}
}

.rightsAndPolicy{
	display: flex;
	flex-direction: row;
	margin-top: 50px;
}
.rightsAndPolicy a{
	color: var(--main-white);
	margin-left: 40px;
}